[Unit]
Description=Renew Mosquitto TLS cert via step-ca and reload broker (Sunny)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/default/mosq-renew-env
ExecStart=/usr/bin/step ca renew /etc/mosquitto/certs/jonny.pem /etc/mosquitto/certs/jonny-key.pem --daemon --root /etc/mosquitto/certs/MQTTS.pem --exec /usr/local/bin/reload-mosquitto.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

